body{
  background-color: #393e46;
}

.container{
  align-items: center;
  text-align: center;
  margin: auto;
  width: 70%;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.dice{
  text-align: center;
  display: inline-block;
}

p{
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
}

img {
  width: 80%;
}

#results{
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
}
.btn{
  margin-top: 30px;
  font-size: 1rem;
  border-radius: 10px;
  border-style: none;
  background-color: #4ECCA3;
  box-shadow: 5px 0 #232931;
}